:root{
    --bg:#1f2029;
    --bg-secundary:#2A2B38;
    --color:#dfdee5;
}
  
*{
    box-sizing:border-box;
}
    
html, body{
    height:100%;
    margin:0;
}
  
body{
    display:flex;
    justify-content:center;
    align-items:center;
        
    color:var(--color);
    background:var(--bg);

    font-family:'Source Sans Pro', 'Arial';
    padding:1em;
}
  
.container{
    max-width:480px;
    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;  
    justify-content:center;
    align-items:center;

    position:relative;

    .input{
        display:none;
    }

    .input{
        &:not(:checked){
          ~.card{
            .sign{
              left:0;
            }
            .log{
              left:100%;
              transform:rotateY(-180deg);
            } 
          }
        }
      
        &:checked{
            ~.toggle{
                .icon{
                    .arrow{
                        left:50%;
                        transform:rotateY(180deg);
                    }
                }
            }
            ~.card{
              .sign{
                left:-100%;
                transform:rotateY(180deg);
              }
              .log{
                left:0;
              } 
            }
        }
    }
    
    .toggle{
        cursor:pointer;
        
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:1em;
        
        margin:1em 0;
        
        .icon{
            width:64px;
            height:32px;
            
            display:flex;
            align-items:center;
            
            position:relative;
            
            border-radius:64px;
            outline:2px solid var(--bg-secundary);
            
            .arrow{
                position:absolute;
                left:0;
                
                background:var(--bg-secundary);
                border-radius:50%;
                
                transition:all ease 0.75s;
            }
        }
    }
    
    .card{
        max-width:480px;
        max-height:360px;
        width:100%;
        height:100%;
      
        position:relative;
        perspective: 480px;
      
        border-radius:16px;
        padding:0.5em;
        background:var(--bg-secundary);
        
        overflow:hidden;
      
        .content{
            width:100%;
            height:100%;
          
            display:flex;
            flex-direction:column;
            justify-content:flex-start;
            align-items:center;
          
            position:absolute;
            transform-style: preserve-3d;
          
            transition:all ease 1s;
          
            .title{
                font-family:'Poppins', 'Arial';
                font-weight:600;
            }
            
            .fields{
                width:100%;
                padding:0 2em;

                .field{
                    display:flex;
                    align-items:center;
                    gap:0.75em;

                    margin:0.5em 0;
                    padding:1em;
                    border-radius:32px;

                    background:var(--bg);
                    
                    input{
                        width:100%;

                        border:none;
                        outline:none;

                        color:var(--color);
                        background:transparent;
                    }
                }
            }
            
            .submit{
                width:100%;
                text-align:center;
                margin:1em 0;

                .button-submit{
                    cursor:pointer;

                    width:50%;

                    border:none;
                    outline:none;

                    padding:1em 1.5em;
                    border-radius:1.5em;
                    
                    box-shadow: 0 6px 12px -4px #ffffff40;

                    transition:all ease 0.125s;

                    &:hover{
                        outline:4px solid #ffffff40;
                    }
                }
            }
        }
    }
}