@import './variables'

.ae-bg-1
    background-image: url('/landing-images/10.jpg', true)
    @include background

.ae-land-bg-1
    background-image: url("/landing-images/1.jpg")
    @include background
    z-index: -10

.ae-land-bg-2
    background-image: url("/landing-images/12.jpg")
    @include background
    z-index: -10
