$blood-red: #922610
$hr-blue: #1b2242
$hr-brown: #7f4a37
$hr-grey: #bbada8

// image paths
$landingImgPath: "/landing__images"

@mixin background
  background-repeat: no-repeat
  background-position: center
  background-size: cover

@mixin flexy
  display: inline-flex
  flex-direction: row

